@font-face {
    font-family: 'convectionregular';
    src: url('cheevs/fonts/convectionregular-webfont.eot');
    src: url('cheevs/fonts/convectionregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('cheevs/fonts/convectionregular-webfont.woff') format('woff'),
         url('cheevs/fonts/convectionregular-webfont.ttf') format('truetype'),
         url('cheevs/fonts/convectionregular-webfont.svg#convectionregular') format('svg');
    font-weight: normal;
    font-style: normal;
}